/Temp
/Library
/obj
/UnityVS.CosmosEngineBootstrap.sln.DotSettings
/SyncFromClient.bat
/UnityVS.CosmosEngineBootstrap.CSharp.csproj
/UnityVS.CosmosEngineBootstrap.CSharp.Editor.csproj
/UnityVS.CosmosEngineBootstrap.CSharp.Plugins.csproj
/UnityVS.CosmosEngineBootstrap.sln
/PushToClient.bat
/Assets/UnityVS
/UnityVS.CosmosEngine.CSharp.Editor.csproj
/UnityVS.CosmosEngine.CSharp.Plugins.csproj
/UnityVS.CosmosEngine.CSharp.csproj
/UnityVS.CosmosEngine.sln
/UnityVS.CosmosEngine.sln.DotSettings
/UnityVS.CosmosEngine.v11.suo
/Assets/Resources/NGUIShaders
/Assets/Resources/NGUIShaders.meta
/Assets/NGUI
/Assets/AssetStoreTools
/Assets/AssetStoreTools.meta
/Assets/NGUI.meta
/Assets/Packages
/Assets/Packages.meta
/Assets/Plugins/NGUI.meta
/Assets/Plugins/NGUI/Resources.meta
/Assets/Plugins/NGUI/Resources/NGUIShaders.meta
/Assets/Plugins/NGUI/Scripts.meta
/Assets/Plugins/NGUI/Scripts/Interaction.meta
/Assets/Plugins/NGUI/Scripts/Internal.meta
/Assets/Plugins/NGUI/Scripts/Tweening.meta
/Assets/Plugins/NGUI/Scripts/UI.meta
