*.suo
/KEngine.*/Temp
/KEngine.*/Library
obj
/UnityVS.CosmosEngineBootstrap.sln.DotSettings
/SyncFromClient.bat
/KEngine.*/*.csproj
/KEngine.*/*.sln
/KEngine.*/*.sln.DotSettings
/KEngine.*/*.suo
/PushToClient.bat
/Assets/UnityVS

/UnityVS.CosmosEngine.v11.suo
/Assets/Resources/NGUIShaders
/KEngine.*/Assets/Resources/NGUIShaders.meta
/KEngine.*/Assets/NGUI
/Assets/AssetStoreTools
/Assets/AssetStoreTools.meta
/Assets/NGUI.meta
/Assets/Packages
/Assets/Packages.meta
/Assets/Plugins/NGUI.meta
/Assets/Plugins/NGUI/Resources.meta
/Assets/Plugins/NGUI/Resources/NGUIShaders.meta
/Assets/Plugins/NGUI/Scripts.meta
/Assets/Plugins/NGUI/Scripts/Interaction.meta
/Assets/Plugins/NGUI/Scripts/Internal.meta
/Assets/Plugins/NGUI/Scripts/Tweening.meta
/Assets/Plugins/NGUI/Scripts/UI.meta
/SyncFromClient2.bat
*SyncToy*
_gsdata_
/logs
