/Temp
/Library
/obj
/UnityVS.CosmosEngineBootstrap.sln.DotSettings
/SyncFromClient.bat
/UnityVS.CosmosEngineBootstrap.CSharp.csproj
/UnityVS.CosmosEngineBootstrap.CSharp.Editor.csproj
/UnityVS.CosmosEngineBootstrap.CSharp.Plugins.csproj
/UnityVS.CosmosEngineBootstrap.sln
/Assets/Plugins/NGUI
/PushToClient.bat
